/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Poppins", sans-serif;
}

/* Header */
.header {
  top: 0;
  left: 0;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5eed78;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease; /* Navbar Transition */
}
/* Logo */
#logo {
  width: 150px;
  position: absolute;
  height: 50px;
  top: 3px;
  left: 1vw;
  transition: filter 0.3s ease; /* Logo Transition */
}

/* Logo Animation on Hover */
#logo:hover {
  animation: sparkle 1s ease-in-out infinite; /* Sparkling effect on hover */
  filter: brightness(1.2); /* Slight brightness increase on hover */
}

@keyframes sparkle {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
  }
}

/* Navigation */
.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

/* Icon Animation on Hover */
.icons:hover {
  transform: scale(1.2); /* Scale up the icon on hover */
}

/* Checkbox (for responsive menu) */
#check {
  display: none;
}

/* Media query */
@media (max-width: 580px) {
.nav a{
  font-size: 3vw !important;
}
#logo{
  width: 80px;
  height: 30px;
  top: 12px;
}
}

.nav {
  font-family: "Titillium Web";
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}

.nav a {
  padding: 0.5em 0.8em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #3e8914;
  border-right: 3px solid #2e640f;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2e640f;
  border-left: 3px solid #3e8914;
  transform: translate(100%, -50%);
}

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #14254c;
}

