/* Footer Styles */
.site-footer {
  background-color: #0a0a0a;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  padding: 20px 0;
}

.site-footer hr {
  border-top-color: #45b07e;
  opacity: 0.5;
  margin: 20px 0;
}

.site-footer h6 {
  color: #45b07e;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.site-footer a {
  color: #45b07e;
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-footer a:hover {
  color: #00ff95;
}

/* Footer Links Styles */
.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #45b07e;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #00ff95;
}

.footer-links.inline li {
  display: inline-block;
  margin-right: 10px;
}

/* Social Icons Styles */
.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 50%;
  background-color: #45b07e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.site-footer .social-icons a:hover {
  background-color: #00ff95;
}
.row{
  display: flex;
  justify-content: space-between;
}
/* Copyright Text Styles */
.copyright-text {
  margin: 10px 0;
  color: #737373;
  font-size: 12px;
}

@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

/* Additional Styles for Social Icons */
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

/* Hover Styles for Social Icons */
.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.instagram:hover {
  background-color: #ff4242;
}

.social-icons a.github:hover {
  background-color: #d9ff00;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.fa {
  width: 20px;
}
