/* Resetting some default styles for better consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#about-father {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url(../img/Problems.jpg);
  background-size: cover;
  color: rgb(245, 245, 245);
}

#about-container {
  background-size: cover;
  background-color: rgba(36, 33, 33, 0.8);
  opacity: 0.9;
  border-radius: 20px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px;
  margin: 20px;
  max-width: 800px;
  height: fit-content;
}

.project-name {
  font-size: 24px;
  margin: 10px 0;
}

#ourlogo {
  width: 250px;
}

.para {
  margin: 20px 0;
  color: aqua;
}

.small_header {
  color: rgb(109, 255, 255);
}

#main-para {
  color: rgb(174, 255, 255);
}

.follow-us {
  text-align: center;
  margin-top: 20px;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.problems {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
}

#join-today a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  position: relative; /* Needed for pseudo-element */
  transition: color 0.3s ease; /* Color change animation */
}

#join-today a::before {
  content: '';
  position: absolute;
  bottom: -2px; /* Position the underline below the text */
  left: 0;
  width: 100%;
  height: 2px; /* Underline height */
  background-color: rgb(173, 255, 125); /* Underline color */
  transform-origin: center;
  transform: scaleX(0); /* Initial scale, no underline */
  transition: transform 0.3s ease-in-out;
}

#join-today a:hover {
  color: rgb(13, 255, 0); /* Change text color on hover */
}

#join-today a:hover::before {
  transform: scaleX(1); /* Expand the underline on hover */
  transform-origin: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease; /* Color change animation on hover */
}
