body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#login-container {
  overflow-y: hidden;
  background-image: url("../loginwallpaper.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  width: 100%;
}

#login-header {
  color: #008000;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

#login-button {
  background-color: #008000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-button:hover {
  background-color: #006400;
}

#no-account,#forgot-pass {
  margin-top: 10px;
  font-size: 14px;
}

#no-account a,#forgot-pass a {
  color: #008000;
  text-decoration: none;
}

#no-account a:hover,#forgot-pass a:hover {
  text-decoration: underline;
}
@media (max-width: 400px) {
  #login-container {
    overflow-y: scroll;
  }
}
