
#comments {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  width: 400px;
  margin-top: 25px;
}

/* User profile images */
.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid green;
}

/* Comment container */
.comment-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Heading */
#heading {
  color: rgb(81, 236, 81);
  font-size: 24px;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 1021px) {
  #comments {
    width: 100%;
  }
}

@media (max-width: 430px) {
  #comments {
    height: auto;
    font-size: 3.5vw;
    width: 90vw !important;
  }
}

/* Slideshow styles */
.slideshow {
  overflow: hidden;
  max-width: 420px;
  margin: 0 auto;
  position: relative;
}

.slideshowSlider {
  white-space: nowrap;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  padding-top: 10px;
  margin-left: 10px;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

/* Slideshow dots */
.slideshowDots {
  text-align: center;
  margin-top: 15px;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
  background-color: #b2f6d6; /* Updated to a greener color */
  transition: background-color 0.3s ease; /* Smooth color transition */
}

.slideshowDot.active {
  background-color: #00ff95; /* Keep the active dot color as is */
}

