body {
  margin: 0;
  padding: 0;
}

#my-profile {
  background-image: url("../img/MyPage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
}

#my-profile-container {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 400px;
  animation: fadeInUp 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-profile-header {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333; /* Header text color */
}

.my-profile-input {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #4caf50; /* Underline effect */
  background: transparent; /* Transparent background */
  font-size: 16px;
  transition: border-color 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
  color: #05290c;
}

.my-profile-input:focus {
  border-color: #45a049; /* Change border color on focus */
  background-color: #f0fff0; /* Slight green background on focus */
}

/* Button Animation */
#my-profile-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  transform: translateY(0); /* Initial state for animation */
  transition: background-color 0.3s ease;
}

#my-profile-button:hover {
  animation: pulse 0.8s infinite, colorChange 0.5s infinite alternate;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Button pulsing animation */
  }
}

@keyframes colorChange {
  0% {
    background-color: #4caf50;
  }
  100% {
    background-color: #45a049; /* Background color change animation */
  }
}

#no-account,
#forgot-pass {
  margin-top: 20px;
  font-size: 14px;
  color: #333; /* Text color */
}

#no-account a,
#forgot-pass a {
  color: #4caf50;
  text-decoration: none;
}

#no-account a:hover,
#forgot-pass a:hover {
  text-decoration: underline;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
