#Calendar {
  width: 700px;
  height: 300px;
}
.css-sizvqo-MuiTableCell-root {
height: 15px !important;

}

.css-1q1u3t4-MuiTableRow-root{
width: 10xp !important;
}
.css-3nejl.Appointment-appointment{
 opacity: 0.3;
}
.css-3nejl.Appointment-appointment :hover{
  opacity: 1;
 }