/* Base styles */
.qa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../img/kelly-sikkema-LM17xCofKA0-unsplash.jpg);
  background-size: cover;
}

/* Question and Answer section */
.qa-section {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
/* Question style */
.qa-question {
  margin: 5vh;
  border-radius: 60px;
  padding: 5px;
  background-color: rgba(57, 57, 57, 0.7); /* Background opacity */
}

.QHeader {
  color:#46b481;
}

.Qexample {
  color: #e1f7e8;
}

/* Answer style */
.Answer {
  color: #95ffd6;
  font-size: 1rem;
  line-height: 1.4;
  padding: 10px;
}

/* Button style */
.span-btn {
  color: crimson; /* Button color */
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.span-btn:hover {
  color: darkred; /* Darker button color on hover */
}

#didnt-find {
  color: whitesmoke;
}
